header {
  margin-bottom: 1rem;
}

section {
  margin-bottom: 1rem;
}

a {
  color: #4b7bc5;
}

.nowrap {
  white-space:nowrap;
}

.code-display {
    height: 75vh;
    overflow-y: auto;
    margin: 1rem;
    background: #212529;
    color: wheat;
    padding: 1rem;
    font-weight: bold;
    font-family: courier;
}

.pailer-body {
    padding: 0px;
}

.pailer-indicator {
    background: red;
    color: wheat;
    font-weight: bolder;
    position: absolute;
    left: 5px;
    top: 90px;
    z-index: 999;
}

.pailer-data {
    color: white;
    font-family: monospace;
    background: #212222;
    white-space: pre-wrap !important;
    padding: 1rem;
}

.pailer-syslog-option {
    color: white;
    background: darkgray;
    left: 5px;
    top: 5px;
    display: block;
}

.pailer-data-container {
    padding: 0px;
}

.tab-pane {
    padding-top: 1rem;
}

.fa-gray {
    color: gray;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: inherit;
}

.close-row {
    margin-bottom: .25rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}

table {
    width: 100% !important;
    word-break: break-all;
    word-break: break-word;
}